{% extends 'layout.html' %}

{% block banner_text %}
    {% block title %}
        {{ config['SAMPLE_DESCRIPTION'] }}
    {% endblock %}
{% endblock %}

{% block body %}
<div class="card">
    <h5 class="card-header">
        {% block header%} {% endblock %}
    </h5>
    <div class="card-body">
        <!-- <h5 class="card-title"></h5> -->
        <p class="card-text">
            {% block text %} {% endblock %}
        </p>
        <!-- <div class="card-footer"></div> -->
    </div>

    <div id="wrapper" class="alert alert-info" role="alert">
        <!-- the MS_ID_WEB key is configurable in the config file -->
        {% set app_cfg = config.get('MS_ID_WEB_CONFIGS') %}
        {% set client_id = app_cfg.client.client_id %}
        {% if "e5c690fe-05df-4035-8f95-f6820851c584" != client_id %}
            {% set aad_link="https://portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationMenuBlade/Overview/appId/" ~ client_id ~ "/isMSAApp/" %}
        {% else %}
            {% set aad_link = "https://portal.azure.com/#blade/Microsoft_AAD_B2CAdmin/TenantManagementMenuBlade/overview" %}
        {% endif %}
       
       
    </div>

</div>
{% endblock %}

{% block flash_messages %}

{% endblock %}

{% block footer %}

{% endblock %}

